<div class="product-details">
  <h2 class="product-details__title">Product Details</h2>

  <div class="product-details__container" *ngIf="product; else emptyProduct">
    <h3 class="product-details__name">{{ product.name }}</h3>
    <p class="product-details__text">{{ product.price | currency }}</p>
    <p class="product-details__text">{{ product.description }}</p>

    <button
      class="product-details__button"
      type="button"
      (click)="addToCart(product)"
      [disabled]="inCart"
    >
      {{ inCart ? 'In your cart' : 'Buy' }}
    </button>
  </div>

  <ng-template #emptyProduct>There is no such phone</ng-template>
</div>