.product-alerts {
  margin: 15px 0 0;
  padding: 0;
  border: none;
  background: transparent;
  align-self: flex-end;
  font-size: 16px;
  line-height: 1;
  color: #0000ff;
  position: relative;
  transition: .6s ease;
  cursor: pointer;

  &:after {
    content: '';
    display: block;
    position: absolute;
    right: 0;
    bottom: -3px;
    width: 0;
    height: 2px;
    background-color: #0a0a96;
    transition: .6s ease;
  }

  &:hover {
    color: #0a0a96;

    &::after {
      width: 100%;
      left: 0;
    }
  }
}